[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = http://github.com/digitaltoad/vim-jade.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = http://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/javascript-indent"]
	path = bundle/javascript-indent
	url = http://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = http://github.com/vim-scripts/L9.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = http://github.com/godlygeek/tabular.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim
[submodule "bundle/velocity"]
	path = bundle/velocity
	url = http://github.com/vim-scripts/velocity.vim.git
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = http://github.com/vim-scripts/nginx.vim.git
[submodule "manual/guicolorscheme"]
	path = manual/guicolorscheme
	url = https://github.com/vim-scripts/guicolorscheme.vim
[submodule "bundle/rename"]
	path = bundle/rename
	url = https://github.com/vim-scripts/Rename.git
